h1 {
    text-align: center;
}

#r {
    width: 100%;
}

div {
    border: 1px solid grey;
    width: 50%;
    margin: auto;
}

table {
    margin: auto;
}

.error {
    text-align: center;
    color: red;
}

.result {
    text-align: center;
    color: greenyellow;
}